:root {
  --light-conic: conic-gradient(
    from 90deg at 100% 0%,
    #c7e9ff,
    #c6eaff,
    #c3edff,
    #c0f0fd,
    #bff5f8,
    #c3f8f1,
    #ccfbe8,
    #d9fddf,
    #e7fed8,
    #f3fed3,
    #fcfdd1,
    #fffdd1
  );

  --dark-conic: conic-gradient(
    from 90deg at 100% 0%,
    #0c001a,
    #1b0d22,
    #291429,
    #381a2f,
    #472134,
    #562838,
    #65303a,
    #72393c,
    #7f443d,
    #89503d,
    #925c3e,
    #996a3f
  );

  --white: #faefff;
  --black: #1b0d22;
  --blue: #a8b2e6;
  --blue-dark: #1f005c;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--light-conic);
  --color-text: var(--black);
  --color-text-invert: var(--white);
  --color-link: var(--blue-dark);
  --color-link-invert: var(--blue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--dark-conic);
    --color-text: var(--white);
    --color-text-invert: var(--black);
    --color-link: var(--blue);
    --color-link-invert: var(--blue-dark);
  }
}
