@import "./css/reset.css";
@import "./css/color";
@import "./font/silka.css";
@import url("./css/typography-mobile.css") (max-width: 940px);
@import url("./css/typography.css") (min-width: 940px);

body {
  min-height: 100vh;
  color: var(--color-text);
  line-height: 1.4;
  font-family: Silka, Inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

.fade-enter-active {
  transition: all 0.15s ease-out;
}

.fade-leave-active {
  transition: all 0.1s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateX(2rem);
}
