@import "./reset.css";

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --light-conic: conic-gradient(
    from 90deg at 60% 100%,
    #a8b2e6,
    #afb2e6,
    #c0b3e4,
    #d5b6e0,
    #e9bbd9,
    #f8c4d1,
    #ffcfcd,
    #ffdbce,
    #ffe7d3,
    #fef0db,
    #fdf6e1,
    #fdf8e4
  );

  --dark-conic: conic-gradient(
    from 90deg at 0% 0%,
    #0c001a,
    #1b0d22,
    #291429,
    #381a2f,
    #472134,
    #562838,
    #65303a,
    #72393c,
    #7f443d,
    #89503d,
    #925c3e,
    #996a3f
  );

  --white: #faefff;
  --black: #1b0d22;
  --blue: #a8b2e6;
  --blue-dark: #1f005c;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--light-conic);
  --color-text: var(--black);
  --color-link: var(--blue-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--dark-conic);
    --color-text: var(--white);
    --color-link: var(--blue);
  }
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Silka, Inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

.fade-enter-active {
  transition: all 0.15s ease-out;
}

.fade-leave-active {
  transition: all 0.5s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateX(2rem);
}
